<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/dashboard.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Course Ratings Portal</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Professors</a></li>
                        <li><a href="#">Classes</a></li>
                        <li><a href="#">Sections</a></li>

                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">My Classes</a></li>
                    </ul>

                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Professors</a></li>
                        <li><a href="#">Search</a></li>
                        <li class="active">Results</li>
                    </ol>
                    <h1 class="page-header">Search results for Professors</h1>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quality</th>
                                    <th>Department</th>
                                    <th>Ratings</th>
                                    <th>Quality</th>
                                    <th>Easiness</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>"Abu-Nabaa, Hisham"</td>
                                    <td></td>
                                    <td>Industrial Engineering</td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>"Adams, John"</td>
                                    <td>Average Quality</td>
                                    <td>Engineering</td>
                                    <td>6</td>
                                    <td>2.8</td>
                                    <td>4.2</td>
                                </tr>
                                <tr>
                                    <td>"Adams, Mark"</td>
                                    <td>Average Quality</td>
                                    <td>Business</td>
                                    <td>11</td>
                                    <td>3.4</td>
                                    <td>2.8</td>
                                </tr>
                                <tr>
                                    <td>"Aghazadeh, Sanaz"</td>
                                    <td>Poor Quality</td>
                                    <td>Accounting</td>
                                    <td>6</td>
                                    <td>1.3</td>
                                    <td>2.3</td>
                                </tr>
                                <tr>
                                    <td>"Ahmet, Joshua"</td>
                                    <td>Good Quality</td>
                                    <td>Matdematics
                                        <td>1</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>"Akca, Zeliha"</td>
                                    <td>Good Quality</td>
                                    <td>Engineering</td>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>"Akeela, Rami"</td>
                                    <td>Good Quality</td>
                                    <td>Computer Engineering</td>
                                    <td>22</td>
                                    <td>4.1</td>
                                    <td>3.5</td>
                                </tr>
                                <tr>
                                    <td>"Aktug, Erdem"
                                        <td>Average Quality</td>
                                    <td>Economics</td>
                                    <td>3</td>
                                    <td>3.2
                                        <td>3.7</td>
                                </tr>
                                <tr>
                                    <td>"Albright, Michael"</td>
                                    <td>Good Quality</td>
                                    <td>English</td>
                                    <td>4</td>
                                    <td>4.8</td>
                                    <td>3.8</td>
                                </tr>
                                <tr>
                                    <td>"Albulescu, Eugene"</td>
                                    <td>Good Quality</td>
                                    <td>Music</td>
                                    <td>17</td>
                                    <td>4.6</td>
                                    <td>3.6</td>
                                </tr>
                                <tr>
                                    <td>"Aldrich, Abigail"</td>
                                    <td>Good Quality</td>
                                    <td>English</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>3.6</td>
                                </tr>
                                <tr>
                                    <td>"Alhadeff, Jack"</td>
                                    <td>Good Quality</td>
                                    <td>Chemistry</td>
                                    <td>15</td>
                                    <td>4.6</td>
                                    <td>3.7</td>
                                </tr>
                                <tr>
                                    <td>"Ambar, Saladin"</td>
                                    <td>Good Quality</td>
                                    <td>Political Science</td>
                                    <td>6</td>
                                    <td>4.8</td>
                                    <td>3.3</td>
                                </tr>
                                <tr>
                                    <td>"Amidon, David"</td>
                                    <td>Good Quality</td>
                                    <td>Social Science</td>
                                    <td>38</td>
                                    <td>4</td>
                                    <td>3.5</td>
                                </tr>
                                <tr>
                                    <td>"Anastasio, David"</td>
                                    <td>Good Quality</td>
                                    <td>Geology</td>
                                    <td>12</td>
                                    <td>3.9</td>
                                    <td>3.6</td>
                                </tr>
                                <tr>
                                    <td>"Anaya, Hugo R"</td>
                                    <td>Poor Quality</td>
                                    <td>Sociology</td>
                                    <td>2</td>
                                    <td>1.2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>"Anderson, Anne Marie"</td>
                                    <td>Average Quality</td>
                                    <td>Finance</td>
                                    <td>36</td>
                                    <td>2.7</td>
                                    <td>1.6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/docs.min.js"></script>
    </body>
</html>
