<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{% static 'courses/ico/favicon.ico' %}">

        <title>{% block title %}Dashboard Template for Bootstrap{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'courses/bootstrap-3.1.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'courses/dashboard.css' %}" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">Course Ratings Portal</a>
                </div>
                <!-- commenting out part of navbar
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li {% block navbar1 %}{% endblock %}><a href="#">Dashboard</a></li>
                        <li {% block navbar2 %}{% endblock %}><a href="#">Settings</a></li>
                        <li {% block navbar3 %}{% endblock %}><a href="#">Profile</a></li>
                        <li {% block navbar4 %}{% endblock %}><a href="#">Help</a></li>
                    </ul>
                </div> -->
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li {% block nav1 %}{% endblock %}><a href="{% url 'professors' %}">Professors</a></li>
                        <li {% block nav2 %}{% endblock %}><a href="{% url 'courses' %}">Courses</a></li>
                        <li {% block nav3 %}{% endblock %}><a href="{% url 'course_create' %}">Add A Course</a></li>
                        <li {% block nav4 %}{% endblock %}><a href="{% url 'professor_create' %}">Add A Professor</a></li>
                        <li {% block nav5 %}{% endblock %}><a href="{% url 'rating_create' %}">Add A Rating</a></li>
                        <li {% block nav6 %}{% endblock %}><a href="{% url 'university_create' %}">Add A School</a></li>
                        <li {% block nav7 %}{% endblock %}><a href="{% url 'section_create' %}">Add A Section</a></li>
                        <li {% block nav8 %}{% endblock %}><a href="{% url 'department_create' %}">Add A Department</a></li>
                    </ul>
                </div>
                <div id="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                  {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/static/courses/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
        <!--<script src="/static/courses/assets/js/docs.min.js"></script> -->
        {% block js %}{% endblock %}
    </body>
</html>
