{% extends "search/base.html" %}
{% load staticfiles %}

{% block title %}Courses{% endblock %}
{% block nav2 %}class="active"{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Home</a></li>
  <li class="active"><a href="{% url 'courses' %}">Courses</a></li>
</ol>
<h1 class="page-header">Search for Courses</h1>
<form role="form" method="get" action="/search/course">
  <div class="form-group">
    <label for="course_id">Course Id</label>
    <input type="text" class="form-control" id="course_id" name="course_id" placeholder="Example: ABC 213">
  </div>
  <div class="form-group">
    <label for="name">Course Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Example: Learning your ABC's">
  </div>
  <div class="form-group">
    <label for="registration_code">Registration Code</label>
    <input type="text" class="form-control" id="registration_code" name="registration_code" placeholder="Usually a 5 digit number">
  </div>
  <div class="form-group">
    <label for="university">University</label>
    <input type="text" class="form-control" id="university" name="university" placeholder="Example: Lehigh University">
  </div>
  <div class="form-group">
    <label for="department">Department</label>
    <input type="text" class="form-control" id="department" name="department" placeholder="Example: Engineering">
  </div>
  <div class="form-group">
    <label for="professor">Professor</label>
    <input type="text" class="form-control" id="professor" name="professor" placeholder="Example: John Doe">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
