{% extends "search/base.html" %}
{% load staticfiles %}

{% block title %}Professors{% endblock %}
{% block nav1 %}class="active"{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Home</a></li>
  <li class="active"><a href="{% url 'professors' %}">Professors</a></li>
</ol>
<h1 class="page-header">Search for Professors</h1>
<form role="form" method="get" action="/search/professor">
    <label for="professorName">Professors Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
    <label for="department">Department</label>
    <input type="text" class="form-control" id="department" name="department" placeholder="Department">
    <label for="ratings">Ratings</label>
    <input type="text" class="form-control" id="ratings" name="ratings" placeholder="Ratings">
    <label for="easiness">Easiness</label>
    <input type="text" class="form-control" id="easiness" name="easiness" placeholder="Easiness">
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
