{% extends "search/base.html" %}
{% load staticfiles %}

{% block title %} Course Ratings Portal {% endblock %}
{% block nav1 %}class="active"{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Courses</a></li>
  <li class="active">Search</li>
</ol>
<h1 class="page-header">Choose your search</h1>
<a href="{% url 'courses' %}" class="btn btn-primary btn-lg active" role="button">Courses</a>
<a href="{% url 'professors' %}" class="btn btn-default btn-lg active" role="button">Professors</a>
{% endblock %}
